1. **What are data structures, and why are they important.**
 - A data structure is a way to store and organize data efficiently in Python. Common types include lists, tuples, sets, and dictionaries, which help in managing and accessing data quickly.
2. **Explain the difference between mutable and immutable data types with examplesold **
 - Mutable data types can be changed after creation (e.g., lists, dictionaries, sets), while immutable data types cannot be modified after creation (e.g., tuples, strings, numbers).
3. **3. Why might you use a set instead of a list in Python?**
 - A set is used instead of a list when you need to store unique elements and perform fast membership checks. Unlike lists, sets do not allow duplicates and use hashing, making lookups (in operation) significantly faster.
4. **How do tuples ensure data integrity in Python?**
 - Tuples are immutable, meaning their values cannot be changed after creation, ensuring data consistency and integrity.
5. **What is a hash table, and how does it relate to dictionaries in Python?**
 - A hash table is a data structure that stores key-value pairs using a hashing function, which is how Python dictionaries provide fast lookups.
6. **Can lists contain different data types in Python?**
 - Yes, Python lists can store elements of different data types, including integers, strings, and even other lists.
7. ** Explain why strings are immutable in Python.**
 - Strings are immutable to enhance security, optimize memory usage, and allow string interning for performance benefits.
8. **What advantages do dictionaries offer over lists for certain tasks?**
 - Dictionaries provide faster lookups (O(1) average time complexity) using keys, whereas lists require O(n) time for searches.
9. ** How do sets handle duplicate values in Python?**
 - Sets automatically remove duplicate values, ensuring all elements are unique without manual checks.
10. **Describe a scenario where using a tuple would be preferable over a list**
 - Tuples are preferable for fixed data like coordinates or database records where immutability ensures safety and consistency.
11. **How does the “in” keyword work differently for lists and dictionaries?**
 - In lists, in checks for the presence of a value, while in dictionaries, it checks for the existence of a key.
12. **Can you modify the elements of a tuple? Explain why or why not.**
 - No, tuples are immutable, meaning their elements cannot be changed, added, or removed after creation.
13. **What is a nested dictionary, and give an example of its use case?**
 - A nested dictionary is a dictionary within a dictionary, useful for representing hierarchical data like a company's employee database.
14. **Describe the time complexity of accessing elements in a dictionary.**
 - Dictionary lookups have an average time complexity of O(1) due to hashing, making them highly efficient.
15. **In what situations are lists preferred over dictionaries?**
 - Lists are preferred when maintaining element order is essential or when storing sequential data without key-value pairs.
16. **Why are dictionaries considered unordered, and how does that affect data retrieval?**
 - Dictionaries were unordered before Python 3.7; now, they maintain insertion order but still rely on hashing for quick lookups.
17. **Explain the difference between a list and a dictionary in terms of data retrieval.**
 - Lists retrieve elements using index positions (O(1) for direct access), while dictionaries retrieve values using keys (O(1) on average).

In [3]:
#  Write a code to create a string with your name and print it
name="Anuj Kumar"
name

'Anuj Kumar'

In [4]:
# Write a code to find the length of the string "Hello World"
len("Hello World")

11

In [5]:
#  Write a code to slice the first 3 characters from the string "Python Programming"
str1="Anuj Kumar"
print(str1[:3])

Anu

In [6]:
# Write a code to convert the string "hello" to uppercase
str2="anuj Kumar"
print(str2.upper())

ANUJ KUMAR

**bold text**

In [12]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
str3 = " I have an apple"
str4=str3.replace("apple", "orange")
print(str4)

 I have an orange

In [13]:
l1=[1,2,3,4,5]
print(l1)

[1, 2, 3, 4, 5]

In [14]:
type(l1)

list

In [24]:
#  Write a code to append the number 10 to the list [1, 2, 3, 4]
l2=[1,2,3,4]
l2.append(10)
print(l2)

[1, 2, 3, 4, 10]

In [25]:
l2=[1,2,3,4]
l2.insert(1,10)
print(l2)

[1, 10, 2, 3, 4]

In [26]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l3=[1,2,3,4,5]
l3.pop(2)

3

In [27]:
l3

[1, 2, 4, 5]

In [39]:
#  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l4=['a', 'b' , 'c' , 'd']
print(l4[1])

b

In [46]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
l5=[1,2,3,4,5]
l5.reverse
print(l5)

[1, 2, 3, 4, 5]

In [47]:
l5

[1, 2, 3, 4, 5]

In [48]:
print(l5[::-1])

[5, 4, 3, 2, 1]

In [50]:
# . Write a code to create a tuple with the elements 100, 200, 300 and print it.
t1=(100, 200, 300)
print(type(t1))

<class 'tuple'>

In [52]:
# . Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow
t2=('red' , 'green' , 'blue' , 'yellow')
print(t2[-2])

blue

In [54]:
# . Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t3=(10,20,5,15)
print(min(t3))

5

In [55]:
# . Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t4=("dog", "cat" , "rabbit" )
t4.index("cat")

1

In [67]:
# . Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
t5=("apple" , "banana" , "kiwi")
"kiwi" in t5

True

In [73]:
#. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1={'a', 'b', 'c' , 2 , 3, }
set1

{2, 3, 'a', 'b', 'c'}

In [74]:
# . Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set2={1,2,3,4,5}
print(set2.clear())

None

In [75]:
set2

set()

In [80]:
# . Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set3={1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [81]:
# . Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1,2,3}
s2={3,4,5}
print(s1 | s2)

{1, 2, 3, 4, 5}

In [82]:
s1

{1, 2, 3}

In [83]:
print(s1 ^ s2)

{1, 2, 4, 5}

In [91]:
#  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict={"name":"Anuj","Age":25,"City":"Patna"}
print(dict)

{'name': 'Anuj', 'Age': 25, 'City': 'Patna'}

In [92]:
dict

{'name': 'Anuj', 'Age': 25, 'City': 'Patna'}

In [93]:
dict.update({"Country":"India"})

In [105]:
dict

{'name': 'Anuj', 'Age': 25, 'City': 'Patna', 'Country': 'India'}

In [109]:
if "name" in dict:
  print ("key 'name' is here")

key 'name' is here

In [110]:
dict

{'name': 'Anuj', 'Age': 25, 'City': 'Patna', 'Country': 'India'}

In [111]:
if "name" in dict.keys():
  print("Key 'name' is here")

Key 'name' is here

In [112]:
dict

{'name': 'Anuj', 'Age': 25, 'City': 'Patna', 'Country': 'India'}

In [114]:
dict.pop("Age")

25

In [115]:
dict

{'name': 'Anuj', 'City': 'Patna', 'Country': 'India'}

In [116]:
lst=[1,2,"Anuj",2.12,True]

In [117]:
lst

[1, 2, 'Anuj', 2.12, True]

In [118]:
tup=("anuj","vikrant",123,True)

In [119]:
tup

('anuj', 'vikrant', 123, True)

In [120]:
dis={"name":"Anuj","Age":23,"Phone no":7367383}

In [121]:
dis

{'name': 'Anuj', 'Age': 23, 'Phone no': 7367383}

In [129]:
#  27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the

import random
rand_num=random.sample(range(1,100),5)
rand_num.sort()
print(rand_num)

[19, 21, 33, 53, 79]

In [130]:
# . Write a code to create a list with strings and print the element at the third index.
list_with_str=["Anuj" , "Vikrant" , "Alka" , "Shama" , "Sajal"]
print(list_with_str[3])

Shama

In [131]:
# . Write a code to combine two dictionaries into one and print the result.
dis={"name":"Anuj","Age":23,"Phone no":736738}
dist2={"add":"abc","E.Code":234}
dis.update(dist2)
print(dis)

{'name': 'Anuj', 'Age': 23, 'Phone no': 736738, 'add': 'abc', 'E.Code': 234}

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [132]:
# . Write a code to convert a list of strings into a set.
list_with_str=["Anuj" , "Vikrant" , "Alka" , "Shama" , "Sajal"]
list_with_str=set(list_with_str)
print(list_with_str)

{'Sajal', 'Shama', 'Vikrant', 'Anuj', 'Alka'}

In [133]:
type(list_with_str)

set